.App {
  text-align: center;
  background-color: rgb(251, 191, 132);
  min-width: 500px;
  width: 67vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top:150px;
  border-radius: 10px;
  padding: 10px;
  background-image: url(./background.jpg);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

body {
  background-image: url(./pikachu_pattern.png);
  display: flex;
  flex-direction: column;
  align-items: center;
}

body h1 {
  font-size: 3rem;
}

.pokemons-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.pokemon-item {
  background-color: rgb(203, 162, 198);
  width: 200px;
  height: 200px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.pokemon-item:hover {
  opacity: 100%;
}

header {
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

button {
  flex-direction: row;
  height: fit-content;
  border: none;
  background: none;
  margin: 30px;
  font-size: 2rem;
}

button:hover{
  opacity: 20%;
}

.logo {
  width: 500px;
  position: relative;
}

.App-pokeball {
  height: 15vmin;
  margin-top: 20px;
  pointer-events: none;
  animation: App-pokeball-spin infinite 5s linear;
  position: relative;
}

@keyframes App-pokeball-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}